<app-auth-wrapper [formStyles]="{ paddingTop: '50px', alignItems: 'start' }">
  <div class="signup">
    <img src="/assets/images/logo.jpeg" alt="logo" class="logo" />

    <div class="signup__details">
      <h2 class="title">Get Started</h2>
      <p class="subtitle">
        Welcome to <b>EDU-M</b> – Manage your education with ease
      </p>
    </div>

    <app-student-form (submit)="onSubmit($event)">
      <!-- submit button -->
      <app-button
        [styles]="{
          background: 'linear-gradient(to left, #247452, #061700)',
          padding: '13px',
          fontWeight: '600'
        }"
        [type]="'submit'"
      >
        Sign Up
      </app-button>
    </app-student-form>

    <p class="signup">
      Already have an account? <a [routerLink]="['/login']">Sign In</a>
    </p>
  </div>
</app-auth-wrapper>
