<main class="dashboard">
  <section class="dashboard__header">
    <h1 class="dashboard__header-title">Students</h1>
    <p class="dashboard__header-subtitle">
      Welcome to the students listing page. You will find here all the students
      details.
    </p>
  </section>

  <section class="dashboard__listing">
    <table>
      <thead>
        <tr>
          <th rowspan="2">ID</th>
          <th rowspan="2">Name</th>
          <th rowspan="2">username</th>
          <th rowspan="2">age</th>
          <!-- <th>marks</th> -->
          <th rowspan="2">total</th>
        </tr>
        <!-- <tr>
          <th>english</th>
          <th>maths</th>
          <th>science</th>
        </tr> -->
      </thead>
      <tbody>
        <tr>
          <td class="id">1</td>
          <td class="name">John Doe</td>
          <td class="username">johndoe</td>
          <td class="age">24</td>
          <td class="total">253</td>
        </tr>
        <tr>
          <td class="id">1</td>
          <td class="name">John Doe</td>
          <td class="username">johndoe</td>
          <td class="age">24</td>
          <td class="total">253</td>
        </tr>
        <tr>
          <td class="id">1</td>
          <td class="name">John Doe</td>
          <td class="username">johndoe</td>
          <td class="age">24</td>
          <td class="total">253</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
